# Required
pandas
numpy
jinja2
matplotlib
setuptools

# Optional
pvlib
plotly
ephem
sqlalchemy

# Documentation
sphinx
sphinx_design
sphinx_rtd_theme
sphinxcontrib-bibtex

# Testing
pytest
coverage
pyyaml